@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .main-btn {
        @apply bg-red-800 border border-red-800 text-white p-2 rounded transition-colors ease-in-out hover:border-red-800 hover:bg-red-900 focus:outline-none focus:bg-red-900;
    }

    .secondary-btn {
        @apply border border-gray-700 text-gray-700 p-2 rounded transition-colors ease-in-out hover:text-white hover:bg-gray-700;
    }

    .primary-btn {
        @apply bg-white hover:bg-red-800 border border-red-800 text-red-800 hover:text-white p-2 rounded transition-colors ease-in-out focus:outline-none focus:bg-red-900
    }
    .primary-btn-disabled {
        @apply bg-gray-300 border border-gray-300 text-gray-700 p-2 rounded cursor-not-allowed;
    }

    .secondary-btn-disabled {
        @apply bg-gray-300 border border-gray-300 text-gray-700 p-2 rounded cursor-not-allowed;
    }

    .success-div {
        @apply text-sm my-2 bg-green-100 border border-green-800 text-green-800 text-center px-4 py-3 rounded relative;
    }

    .error-div {
        @apply text-sm my-4 bg-red-100 border border-red-800 text-red-800 text-center px-4 py-3 rounded relative;
    }

    .main-title-page {
        @apply w-full my-8 text-3xl font-bold text-center;
    }

    .secondary-title {
        @apply w-full my-4 text-2xl font-semibold;
    }

    .main-input {
        @apply w-full p-2 border border-gray-300 focus:border-red-800 rounded outline-none;
    }

    .main-input-readonly {
        @apply w-full p-2 border border-gray-300 bg-gray-200 select-none rounded outline-none;
    }

    .secondary-input {
        @apply w-full p-2 border border-gray-300 focus:border-gray-700 rounded outline-none;
    }

    .main-label {
        @apply my-1 block text-sm font-medium text-gray-700 text-nowrap;
    }

    .secondary-label {
        @apply my-1 block text-sm font-medium text-gray-700 text-wrap;
    }

    .main-select {
        @apply w-full px-2 py-1 border border-gray-300 focus:border-red-800 rounded outline-none;
    }

    .container-main {
        @apply container mx-auto px-3 w-full bg-gray-100 min-h-full flex flex-col mt-5;
    }

    .main-checkbox {
        @apply w-4 h-4 border focus:border-red-800 border-gray-300 rounded cursor-pointer;
    }

    .pagination-container {
        @apply my-8 w-full;
    }

    .pagination-container ul {
        @apply flex flex-row items-center justify-center;
    }

    .pagination-container ul>li {
        @apply border border-gray-700 rounded mx-1 inline;
    }

    .pagination-container ul>li:hover {
        @apply border border-gray-700 bg-gray-700 cursor-pointer text-white rounded mx-1;
    }

    .pagination-container ul .active {
        @apply bg-gray-700 rounded mx-1 text-white;
    }

    .pagination-container ul a {
        @apply py-2 px-3 w-full h-full flex items-center justify-center;
    }

    /* break rows if page pagination container is in SM size */
    @media (max-width: 640px) {
        .pagination-container ul {
            @apply flex-wrap;
        }

        .pagination-container ul li {
            @apply my-1;
        }
    }

    /* Popover backdrop */

    [popover]::backdrop {
        @apply fixed inset-0 bg-black bg-opacity-50;
    }

    /* Popover content */
    .popover {
        @apply w-full px-8 sm:px-2 md:w-3/4 max-h-screen overflow-auto rounded-md shadow-md;
    }


    /* HTML: <div class="loader"></div> */
    .loader {
        width: 60px;
        aspect-ratio: 1;
        --_g: no-repeat radial-gradient(farthest-side, #374151 90%, #00000000);
        background: var(--_g), var(--_g), var(--_g);
        background-size: 25% 25%;
        animation: l17 1s infinite;
    }

    @keyframes l17 {
        0% {
            background-position: 0% -100%, 50% -100%, 100% -100%
        }

        16.67% {
            background-position: 0% 50%, 50% -100%, 100% -100%
        }

        33.33% {
            background-position: 0% 50%, 50% 50%, 100% -100%
        }

        45%,
        55% {
            background-position: 0% 50%, 50% 50%, 100% 50%
        }

        66.67% {
            background-position: 0% 200%, 50% 50%, 100% 50%
        }

        83.33% {
            background-position: 0% 200%, 50% 200%, 100% 50%
        }

        100% {
            background-position: 0% 200%, 50% 200%, 100% 200%
        }
    }

}

@media print {
    .print-container {
        max-width: 100%;
        margin: 0;
        padding: 0;
        box-shadow: none;
    }

    .break-page {
        page-break-before: always;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 0;
        page-break-inside: avoid;
    }

    .no-print {
        display: none;
    }

}

.main-bg-image::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    background-image: url('/images/background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* Add the blur effect */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
}